<div class="container">
<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SISTEMA WEB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Consultar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<p>Consultar - Agendamento de Potenciais Clientes</p>
<p>Sistema utilizado para agendamentos de serviços</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Origem</th>
      <th scope="col">Data de Contato</th>
      <th scope="col">Observação</th>
    </tr>
  </thead>
  <tbody>